<mat-toolbar color="primary">
    <!--  -->
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/"> 
            <button mat-icon-button>
                <mat-icon>fitness_center</mat-icon>
            </button>
            <b> Tra-Fitness </b>
        </a>
    </div>
    <div fxFlex  fxLayout="row" fxHide.xs>
        <ul fxFlex fxLayoutGap="10px" fxLayoutAlign="end center" class="navegation-items">
            <li *ngIf="!isAuth" >
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isAuth" >
                <a routerLink="/signup">Signup</a>
            </li>
            <li *ngIf="isAuth">
                <a routerLink="/training">Training</a>
            </li  >
            <li *ngIf="isAuth">
                <a (click)="logout()" routerLink="">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>